flask
flask-cors
langchain
langchain-community
langchain-openai
langchainhub
chromadb
python-dotenv
PyPDF2
python-docx
pdfminer
rapidocr-onnxruntime
PyMuPDF
bs4
tiktoken
psycopg2-binary
Flask-SQLAlchemy
flask-security-too
flask-jwt-extended
Flask-Migrate